data/
media/

__pycache__/

# Byte-compiled files
*.py[cod]
*.pyc
*.png

# Python virtual environment folders
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache and logs
*.log
*.cache
*.egg-info/

